<ion-header>
  <ion-toolbar>
    <ion-title>About the Developers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Developer 1 Card -->
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Jean Cristian S. Mangaser</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="developer-info">
            <ion-thumbnail slot="start">
              <img src="assets/images/developer1.jpg" alt="Developer 1">
            </ion-thumbnail>
            <div class="developer-description">
              <h3>Developer</h3>
              <p>Responsible for the core app structure, functionality and Firebase.</p>
            </div>
          </div>

          <!-- Developer Contact Info -->
          <div class="developer-contacts">
            <ion-item>
              <ion-label>Email:</ion-label>
              <ion-text color="success">Jeantipqc.com</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Phone:</ion-label>
              <ion-text color="success">+123 456 7890</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Facebook:</ion-label>
              <ion-text color="success"><a href="https://www.facebook.com/jeancristian.mangaser?mibextid=ZbWKwL" target="_blank">Facebook Profile</a></ion-text>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <!-- Developer 2 Card -->
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Chadler Marc Bautista</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="developer-info">
            <ion-thumbnail slot="start">
              <img src="assets/images/developer2.jpg" alt="Developer 2">
            </ion-thumbnail>
            <div class="developer-description">
              <h3>Developer</h3>
              <p>Focuses on the user interface and experience.</p>
            </div>
          </div>

          <!-- Developer Contact Info -->
          <div class="developer-contacts">
            <ion-item>
              <ion-label>Email:</ion-label>
              <ion-text color="success">karmachadtipqc</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Phone:</ion-label>
              <ion-text color="success">+987 654 3210</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Facebook:</ion-label>
              <ion-text color="success"><a href="https://www.facebook.com/Karmathicc" target="_blank">Facebook Profile</a></ion-text>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
